#game-arena {
  width: 100%;
  height: 100%;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #370617 #eae2b7;

  padding: 1rem;
  position: relative;

  background-image: url("../assets/game-arena-wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
